* {
    margin: 0;
    padding: 0%;
}
.grid-item {
    border: solid 1px #1e51a8;
}
.grid-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.row-span-2 {
    grid-row: span 2;
}
.col-span-2 {
    grid-column: span 2;
}
body {
    background-color: #90d9de;
}
h2 {
    color: #1e51a8;
    font-family: monospace;
}