h1 {
    color: #de095e;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ede4e6;
    margin: 0;
    height: 3rem;
    padding: 0%;
    text-align: center;
}
h2 {
    color: #c21f4d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}
.block {
    background-color:#ff5471
}
img {
    max-width: 100%;
    height: auto;
}
body {
    background-color: #8dbfc7;
}
#block {
    color: #11418f;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #61393e;
}
#Part {
    margin: 50px;
    padding: 30px;
    background: #ede4e6;
    justify-content: center;
    text-align: center;
}
#evil {
    border: #c21f4d;
    padding: 20px;
    border-radius: 20px;
}