h1 {
    color: #de095e;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ede4e6;
    margin: 0;
}
h2 {
    color: #c21f4d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}
.another-class {
    background-color:#ff5471
}
img {
    border-radius: 25px;
}
body {
    background-color: #fcd847;
}
#block {
    color: #ff5471;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}