* {
    font-family: 'Times New Roman', Times, serif;
    color: #b02000;
    font-weight: 67000;
}

body {
    background-color: #ff984a;
}
button {
    background-color: #04cbcf;
    border: #164c8a;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    size: 10px;
    color: #164c8a;
}

button:hover {
transform: scale(2px);
}
.Search-Div {
    align-items: center;
    padding: 10px;
}
input {
    
}
input:focus {
    background-color: #ebe6d5;
}