h1 {
    color: #de095e;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ede4e6;
    margin: 0;
    height: 3rem;
    padding: 0%;
    text-align: center;
}
h2 {
    color: #c21f4d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}
.block {
    background-color:#ff5471
}
img {
    border-radius: 25px;
    height: auto;
    width: auto;
}
body {
    background-color: #8dbfc7;
}
#block {
    color: #11418f;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Part {
    margin: 70;
    padding: 89;
    background: #ede4e6;
}