h1 {
    color: #de095e;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#h2 {
    color: #0091a1;
}
.another-class {
    background-color:#ff5471
}
img {
    border-radius: 25px;
}
body {
    background-color: #fcd847;
}
#block {
    color: #ff5471;
}